<?xml version="1.0" encoding="UTF-8"?>
<!-- attogram/shared-media-api - phpunit.xml - v0.9.2 -->
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
        >

 <testsuites>
  <testsuite name="Test suites">
   <directory>tests/</directory>
  </testsuite>
 </testsuites>

 <filter>
  <whitelist processUncoveredFilesFromWhitelist="true">
   <directory suffix=".php">src</directory>
   <file>src/Api.php</file>
   <file>src/Base.php</file>
   <file>src/Category.php</file>
   <file>src/File.php</file>
   <file>src/Page.php</file>
   <file>src/Sandbox.php</file>
   <file>src/Sources.php</file>
   <file>src/Tools.php</file>
  </whitelist>
 </filter>
 
</phpunit>
