body {
    font-family:monospace;
}
a {
    text-decoration:none;
}
a:hover {
    color:black;
    background-color:yellow;
}
h1 {
    margin:0;
}
form {
    padding:10px;
    border:1px solid #aaa;
    background-color:#eee;
}
input {
    font-family:monospace;
    padding:2;
}
.menu {
    display:inline-block;
    font-weight:bold;
    border:1px solid black;
    background-color:#ddd;
    margin:1px;
    padding:5px;
}
.menu a {
    color:#510;
}
