/* attogram/shared-media-api - sandbox.css - v0.10.2 */
body {
    background-color:#ddd;
    color:#000;
    font-family:sans-serif;
    margin:0;
    padding:5px 20px 5px 20px;
}
a {
    background-color:lightyellow;
    color:#00F;
    padding-left:5px;
    padding-right:5px;
    text-decoration:none;
}
a:hover {
    background-color:yellow;
    color:black;
}
h1, h2, h3, h4, h5, h6 {
    background-color:lightyellow;
    border:1px solid black;
    display:inline-block;
    margin:4px;
    padding:8px;
}
form {
    background-color:#eee;
    border:1px solid #aaa;
    font-family:monospace;
    padding:10px;
}
img {
    background-clip:content-box;
    background-color:white;
    border:1px solid black;
}
input {
    font-family:monospace;
    padding:2;
}
ul {
    line-height: 1.5;
}
.menu {
    background-color:lightyellow;
    border:1px solid black;
    display:inline-block;
    font-family:monospace;
    font-weight:normal;
    margin:1px;
    padding:5px;
}
.menu a {
    color:#300;
}
.menubox {
    background-color:#eee;
    border:1px solid black;
    display:inline-block;
    font-family:monospace;
    font-weight:bold;
    margin:1px;
    padding:5px;
}
.log {
    display:block;
    font-family:monospace;
    padding:2px;
}
.logDEBUG {
    background-color:lightyellow;
}
.logINFO {
    background-color:yellow;
}
.logWARNING, .logERROR, .logCRITICAL, .logALERT, .logEMERGENCY {
    background-color:orange;
    font-weight:bold;
}
.category, .media, .page {
	background-color:white;
    border:1px solid black;
    display:inline-block;
    margin:6px;
    padding:4px;
}
.media {
    font-size:12px;
}
.title {
    background-color:#ff9;
    font-weight:bold;
	margin:2px;
}
.pageid {
    background-color:black;
	color:white;
	font-family:monospace;
	margin:2px;
	padding:2px;
}