/* attogram/shared-media-api - sandbox.css - v0.9.1 */
body {
    background-color:#eef;
    font-family:sans-serif;
    margin:0px;
    padding:5px 20px 5px 20px;
}
a {
    text-decoration:none;
}
a:hover {
    background-color:yellow;
    color:black;
}
h1 {
    margin:0;
}
li {
    margin:5px 0;
}
form {
    background-color:#eee;
    border:1px solid #aaa;
    font-family:monospace;
    padding:10px;
}
input {
    font-family:monospace;
    padding:2;
}
.menu {
    background-color:#eee;
    border:1px solid black;
    display:inline-block;
    font-family:monospace;
    font-weight:bold;
    margin:1px;
    padding:5px;
}
.menu a {
    color:#300;
}
